<a href="https://colab.research.google.com/github/cleuber979/Analise_Dados_colab/blob/main/aula03_comando_For.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
funcionarios = ['Ana','Roberta','Paulo','Fernada','Marcio','João']

In [2]:
for funcionario in funcionarios:
  print(funcionario)

Ana
Roberta
Paulo
Fernada
Marcio
João

##criando uma chave de indentificação unica para cada funcionario

In [3]:
for funcionario in funcionarios:
  Id_funcionario= 'BXX ' + funcionario
  print(Id_funcionario)

BXX Ana
BXX Roberta
BXX Paulo
BXX Fernada
BXX Marcio
BXX João

##criei uma lista com todos os id de meus funcionários

In [4]:
func = []


for funcionario in funcionarios:
  funcionarioID= 'BXX' + funcionario
  func.append(funcionarioID)

  func
  print(func)

['BXXAna']
['BXXAna', 'BXXRoberta']
['BXXAna', 'BXXRoberta', 'BXXPaulo']
['BXXAna', 'BXXRoberta', 'BXXPaulo', 'BXXFernada']
['BXXAna', 'BXXRoberta', 'BXXPaulo', 'BXXFernada', 'BXXMarcio']
['BXXAna', 'BXXRoberta', 'BXXPaulo', 'BXXFernada', 'BXXMarcio', 'BXXJoão']

In [5]:
# ordenar

for func in sorted(funcionarios):
  print(func)

Ana
Fernada
João
Marcio
Paulo
Roberta

In [6]:
# ordem reversa
for func in reversed(funcionarios):
  print(func)

João
Marcio
Fernada
Paulo
Roberta
Ana

In [7]:
func = []

for funcionario in funcionarios:
  if funcionario[0] in ['A','B','C','D','E','F',]:
    funcionario_id = 'BX' +funcionario
    func.append(funcionario_id)
  else:
      funcionario_id = 'B0' +funcionario
      func.append(funcionario_id)

func

['BXAna', 'B0Roberta', 'B0Paulo', 'BXFernada', 'B0Marcio', 'B0João']

In [8]:
notas = [45,60,80,65,59,87]

reprovados = 0
aprovados= 0
contador_geral= 0

for x in notas:
  contador_geral+=1
  if x <60:
    reprovados +=1
  else:
    aprovados+=1

print("Tivemos "+str(reprovados) +" alunos reprovados e "+str(aprovados)+" alunos aprovados ")
print("Tivemos o total de "+str(contador_geral)+"  alunos que realizaram a prova")

Tivemos 2 alunos reprovados e 4 alunos aprovados
Tivemos o total de 6  alunos que realizaram a prova

In [26]:
import pandas as pd
import numpy as np

Vendas_Pneus = pd.read_excel('/content/drive/MyDrive/Vendas_Pneus.xlsx')
Vendas_Pneus.head()

,Vendas mês,Michelin,Pirelli,Continental,Goodyear,Bridgestone,Kumho,Firestone,Dunlop
0,Janeiro,150000,132000.0,122140.0,122210.0,122214.0,125256.0,122221.0,122252.0
1,fevereiro,145000,98000.0,152222.0,85000.0,122564.0,122556.0,122221.0,124556.0
2,Março,132251,152000.0,142241.0,132250.0,122245.0,133325.0,144441.0,155211.0
3,Abril,159000,154000.0,154325.0,123250.0,122144.0,112935.0,122235.0,155222.0
4,Maio,180000,122000.0,144120.0,12000.0,85654.0,65215.0,122245.0,75854.0

In [48]:
metas_vendas = []
for i in range(len(Vendas_Pneus)):
  if Vendas_Pneus.loc[i, 'Pirelli'] >= 150000.0:
    metas_vendas = metas_vendas + [Vendas_Pneus.loc[i,"Vendas mês"]]
metas_vendas[:11]
print(str(metas_vendas[:11])+'Estes foram os meses que tivemos venda acima da meta de 1500.000')

['Março', 'Abril', 'Julho', 'Total']Estes foram os meses que tivemos venda acima da meta de 1500.000